.vagrant
build
dist
Cython-*
.venv
*.egg-info
phroniad/api/*.cpp
phroniad/extractor/*.cpp

.DS_Store
.coverage

*.sublime-*
*.egg
*.so
.elasticbeanstalk/

*.py[cod]
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.tox
nosetests.xml

# test result files
.coverage
coverage.xml
nosetests.xml

# virtualenv dir
.venv
include/
.Python
man/

#logs
logs/
*.log

wget-log*
README.html
